body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}


/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
    padding: 0.5rem 1rem;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
    font-size: 1rem;
}

/*respnsive navabar*/
@media(max-width:768px){
    .navbar {
        background-color: lightblue !important;
    }
    .navbar-nav{
        flex-direction: column !important;
        text-align: center;
        gap: 0.5rem;
    }
    .search-inp{
        width: 100%;
        max-width: 300px;
    }
    .search-btn{
        width: auto;;
    }
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    height: auto;
    padding: 1.5rem 0;
    background-color: #ebebeb;
    display: flex;;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}


/* Buttons */
.add-btn, .edit-btn{
    background-color:#fe424d !important;
    border: none !important;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
}
/* new page */
/* .add-btn{
    background-color:#fe424d !important;
    border: none !important;
} */

/* edit page */
/* .edit-btn{
    background-color:#fe424d !important;
    border: none !important;
} */

/* show page */
.show-img{
    height: 30vh;
    width: 100%;
    object-fit: cover;
}


.btns{
    display: flex;
    gap: 0.5rem;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* map */
#map{
    height: 400px;
    width: 80vh;
}